/* ===========================================================================
	Variables
	======================================================================= */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
  Base & Resets
  ========================================================================== */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  background-color: #e0e1dd; }

/* Condensed Universal Reset */
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0; }

.clear_float {
  clear: both; }

.hidden {
  display: none !important; }

/* * Remove text-shadow in selection highlight:h5bp.com/i * These selection declarations have to be separate * Also:hot pink! (or customize the background color to match your design) */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* ==== primary styles =====================================================
   Author: Cameron Drake
   ========================================================================== */
.siteContent {
  z-index: 0;
  width: 960px;
  height: 760px;
  background: url(../img/photo23.jpg) no-repeat;
  margin: 0 auto; }
  .siteContent #headline_container {
    width: 760px;
    margin: auto;
    padding-top: 1em;
    height: 200px; }
    .siteContent #headline_container #masthead {
      background: url(../img/logo.png) no-repeat;
      background-size: cover;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      width: 200px;
      height: 200px;
      float: left; }
    .siteContent #headline_container #abstract {
      width: 15em;
      float: left;
      margin-left: 1em;
      text-align: left;
      margin-top: 2em;
      display: inline;
      font: 600 2em "futura-pt", sans-serif;
      color: #484848; }
    .siteContent #headline_container #ticker {
      display: inline; }
      .siteContent #headline_container #ticker li {
        color: #bc2431;
        list-style: none;
        display: inline;
        margin-left: -1.3em; }
  .siteContent #links {
    width: 960px;
    height: auto;
    margin: auto;
    z-index: 1;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
    font: 600 2em "futura-pt", sans-serif;
    text-align: center; }
    .siteContent #links a {
      text-decoration: none;
      float: left;
      width: 320px; }
  .siteContent #splashpage {
    width: 85%;
    height: 38em;
    margin: auto; }
    .siteContent #splashpage h1 {
      font: 600 3em "futura-pt", sans-serif;
      color: #fff;
      margin-top: 3em;
      margin-bottom: 0.5em;
      text-shadow: 1px 1px 3px #000;
      text-align: center; }
    .siteContent #splashpage form {
      text-align: center;
      width: 30em;
      margin: auto;
      height: 2.6em;
      margin-bottom: 225px; }
      .siteContent #splashpage form #firstinput {
        border-radius: 1em 0em 0em 1em; }
      .siteContent #splashpage form input {
        float: left;
        width: 12em;
        height: 2.6em;
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        margin: 0em;
        padding-left: 0.5em;
        -webkit-border-radius: 0;
        color: #616363;
        -webkit-box-shadow: 0px 0px 23px 0px #000;
        box-shadow: 0px 0px 23px 0px #000; }
      .siteContent #splashpage form button {
        float: none;
        width: 5em;
        background: #bc2431;
        color: #fff;
        height: 2.6em;
        -webkit-border-radius: 0em 1em 1em 0em;
        border-radius: 0em 1em 1em 0em;
        -webkit-box-shadow: 0px 0px 23px 0px #000;
        box-shadow: 0px 0px 23px 0px #000; }
    .siteContent #splashpage #reserve-form input.valid {
      background-image: url(../img/checkmark.png);
      background-repeat: no-repeat;
      background-position: 95% center; }
    .siteContent #splashpage #reserve-form input.not-valid {
      background-image: url(../img/red-x.png);
      background-repeat: no-repeat;
      background-position: 95% center; }
  .siteContent #jobspage {
    width: 85%;
    height: 38em;
    margin: auto;
    font: 300 1em "Helvetica Neue",sans-serif;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left; }
    .siteContent #jobspage a {
      text-decoration: none; }
    .siteContent #jobspage section {
      background: rgba(255, 255, 255, 0.8);
      height: 20em;
      margin: auto;
      margin-top: 1em;
      padding-right: 1em;
      padding-left: 1em;
      padding-top: 1em;
      padding-bottom: 1em;
      width: 725px; }
      .siteContent #jobspage section h1 {
        font: 600 3em "futura-pt", sans-serif;
        color: #484848;
        text-shadow: 0px 0px 0px #000;
        display: block;
        margin-bottom: 0.5em; }
      .siteContent #jobspage section h2 {
        font: 600 1.7em "futura-pt", sans-serif;
        color: #bc2431;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-shadow: 0px 0px 0px #000;
        display: block; }
      .siteContent #jobspage section a {
        color: #bc2431; }
  .siteContent #contactpage {
    width: 85%;
    height: 38em;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em; }
    .siteContent #contactpage section {
      background: rgba(255, 255, 255, 0.8);
      height: 20em;
      width: 760px;
      margin: auto;
      margin-top: 1em;
      padding-top: 1em;
      padding-bottom: 1em; }
    .siteContent #contactpage #map {
      width: 85%;
      height: 315px;
      margin: auto; }
      .siteContent #contactpage #map #googlemap {
        float: left;
        height: 315px;
        width: 315px;
        background: url(../img/gmap.png);
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; }
      .siteContent #contactpage #map #mapdescription {
        float: left;
        width: 9em;
        margin-left: 2em; }
        .siteContent #contactpage #map #mapdescription h1 {
          font: 600 2em "futura-pt", sans-serif;
          margin-top: 2em;
          color: #484848; }
        .siteContent #contactpage #map #mapdescription a {
          color: #bc2431; }

.copy {
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  color: #484848;
  margin-top: 0.5em; }

.black_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(224,225,221,0.8); */
  z-index: 1001; }

.white_content {
  display: none;
  text-align: left;
  position: absolute;
  top: 1%;
  left: 23%;
  width: 50%;
  height: 700px;
  padding: 16px;
  border: 5px solid #bc2431;
  background-color: white;
  z-index: 1002;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0px 0px 23px 0px #000;
  box-shadow: 0px 0px 23px 0px #000; }
  .white_content h1 {
    font: 600 3em "futura-pt", sans-serif;
    color: #bc2431;
    margin-bottom: 0.5em;
    display: block; }
  .white_content h3 {
    font: 500 1.1em "Helvetica Neue",sans-serif;
    color: #000;
    margin-bottom: 1em; }
  .white_content h2 {
    font: 200 1.1em "Helvetica Neue",sans-serif;
    color: #bc2431; }
  .white_content h2:last-child {
    color: #000; }
  .white_content ul.jobdescription {
    color: #222;
    margin-left: 2em;
    font: 200 1.2em "Helvetica Neue",sans-serif; }
  .white_content a {
    color: #bc2431; }

#xbutton {
  display: none;
  width: 2em;
  height: 2em;
  position: absolute;
  top: 0.5%;
  left: 75.2%;
  background: url(../img/x-button.png) no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: 1009; }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (width:1024px) {
  .siteContent {
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    .siteContent #headline_container {
      padding-top: 1em;
      height: 200px; }
      .siteContent #headline_container #masthead {
        height: 200px;
        width: 200px; }
    .siteContent #links {
      margin-top: 2em; }
    .siteContent #splashpage {
      height: 33em; }
      .siteContent #splashpage h1 {
        margin-top: 2em; }
      .siteContent #splashpage form {
        margin-bottom: 0; }
    .siteContent #jobspage {
      height: 33em; }
      .siteContent #jobspage section {
        background: rgba(255, 255, 255, 0.8);
        height: 20em;
        margin: auto;
        margin-top: 1em;
        width: 725px; }
        .siteContent #jobspage section h1 {
          font: 600 3em "futura-pt", sans-serif;
          color: #484848;
          text-shadow: 0px 0px 0px #000;
          display: block;
          margin-bottom: 0em; }
        .siteContent #jobspage section h2 {
          font: 600 1.7em "futura-pt", sans-serif;
          color: #bc2431;
          margin-top: 1.5em;
          margin-bottom: 0.5em;
          text-shadow: 0px 0px 0px #000;
          display: block; }
        .siteContent #jobspage section a {
          color: #bc2431; }
    .siteContent #contactpage {
      height: 33em; }
      .siteContent #contactpage section {
        background: rgba(255, 255, 255, 0.8);
        height: 20em;
        width: 760px;
        margin: auto;
        margin-top: 1em; }
      .siteContent #contactpage #map {
        margin-top: 0em; }

  .copy {
    display: none; }

  .white_content {
    top: 5%;
    left: 5%;
    width: 85%;
    height: 85%;
    padding: 16px; }

  #xbutton {
    position: absolute;
    top: 2%;
    left: 92.5%; } }
@media (width:768px) {
  .siteContent {
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed; }
    .siteContent #headline_container {
      width: 650px;
      height: 200px;
      padding-top: 50px; }
      .siteContent #headline_container #masthead {
        height: 200px;
        width: 200px; }
      .siteContent #headline_container #abstract {
        width: 400px;
        margin-top: 1.2em; }
      .siteContent #headline_container #ticker {
        margin-top: 0em; }
    .siteContent #splashpage {
      height: 700px; }
      .siteContent #splashpage h1 {
        margin-top: 4em; }
      .siteContent #splashpage form {
        margin-bottom: 0; }
    .siteContent #jobspage {
      height: 700px; }
      .siteContent #jobspage section {
        margin-top: 50px;
        width: 618px;
        height: 23em; }
        .siteContent #jobspage section h1 {
          font: 600 3em "futura-pt", sans-serif;
          text-shadow: 0px 0px 0px #000;
          margin-bottom: 0em; }
        .siteContent #jobspage section h2 {
          font: 600 1.7em "futura-pt", sans-serif;
          margin-top: 1.5em;
          margin-bottom: 0.5em; }
    .siteContent #contactpage {
      height: 700px; }
      .siteContent #contactpage section {
        margin-top: 50px;
        height: 23em;
        width: 650px; }
    .siteContent #links {
      width: 100%; }
      .siteContent #links a {
        width: 33%; }

  .copy {
    display: none; }

  .white_content {
    display: none;
    text-align: left;
    position: absolute;
    top: 3%;
    left: 6%;
    width: 82%; }

  #xbutton {
    left: 91%; } }
@media (min-width:0) and (max-width:640px) {
  .siteContent {
    width: 100%;
    height: 100%;
    min-height: 420px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll; }
    .siteContent #headline_container {
      width: 295px;
      height: 110px;
      padding-top: 1em;
      text-align: left; }
      .siteContent #headline_container #masthead {
        float: left;
        height: 110px;
        width: 110px;
        margin: auto;
        margin-bottom: 1em; }
      .siteContent #headline_container #abstract {
        font: 600 16px "futura-pt", sans-serif;
        margin-left: 16px;
        float: left;
        width: 169px;
        margin-top: 1.3em; }
      .siteContent #headline_container #ticker {
        color: #bc2431;
        list-style: none;
        margin-left: -1.3em; }
    .siteContent #links {
      width: 100%;
      height: auto;
      margin: auto;
      margin-bottom: 1em;
      margin-top: 3em;
      z-index: 1;
      color: #fff;
      font: 600 1em "futura-pt", sans-serif;
      text-align: center; }
      .siteContent #links a {
        text-decoration: none;
        float: left;
        width: 33%; }
    .siteContent #splashpage {
      width: 295px;
      margin: auto;
      height: 20em;
      padding: 0; }
      .siteContent #splashpage h1 {
        font: 600 1.5em "futura-pt", sans-serif;
        margin-top: 1em; }
      .siteContent #splashpage form {
        width: 15em;
        height: 7em;
        margin: auto !important;
        display: block;
        margin-bottom: 0; }
        .siteContent #splashpage form #firstinput {
          border-radius: 0; }
        .siteContent #splashpage form p {
          display: block; }
        .siteContent #splashpage form input {
          width: 15em;
          height: 2em;
          margin-bottom: 0.5em;
          border: 2px solid #fff;
          background-color: rgba(255, 255, 255, 0.5); }
        .siteContent #splashpage form button {
          width: 7em;
          height: 2em;
          border-radius: 0;
          margin: auto !important;
          border: 1px solid #fff;
          -webkit-border-radius: 12px;
          border-radius: 12px; }
    .siteContent #jobspage {
      width: 295px;
      height: 20em;
      margin: auto;
      padding: 0;
      font: 300 1em "Helvetica Neue",sans-serif; }
      .siteContent #jobspage section {
        background: rgba(255, 255, 255, 0.8);
        height: 12em;
        margin: auto;
        margin-top: 1em;
        width: 100%;
        overflow: hidden;
        padding: 0;
        text-overflow: ellipsis; }
        .siteContent #jobspage section h1 {
          font: 600 2em "futura-pt", sans-serif;
          color: #484848;
          text-shadow: 0px 0px 0px #000;
          display: block;
          margin-left: 0.5em;
          margin-bottom: 0em;
          margin-top: 0.5em;
          display: none; }
        .siteContent #jobspage section h1 + p {
          display: none; }
        .siteContent #jobspage section p {
          margin-left: 1em;
          margin-right: 1em; }
        .siteContent #jobspage section h2 {
          font: 600 1em "futura-pt", sans-serif;
          color: #bc2431;
          margin-top: 1em;
          margin-bottom: 0.5em;
          margin-left: 1em;
          text-shadow: 0px 0px 0px #000;
          display: block;
          text-decoration: underline; }
        .siteContent #jobspage section a {
          color: #bc2431; }
      .siteContent #jobspage h1 {
        font: 600 1.5em "futura-pt", sans-serif; }
      .siteContent #jobspage h3 {
        font: 500 1em "Helvetica Neue",sans-serif; }
      .siteContent #jobspage h2 {
        font: 200 1.1em "Helvetica Neue",sans-serif;
        color: #bc2431; }
      .siteContent #jobspage ul.jobdescription {
        margin-left: 1em;
        font: 200 1em "Helvetica Neue",sans-serif; }
    .siteContent #contactpage {
      width: 295px;
      height: 20em;
      margin: auto;
      font: 300 1em "Helvetica Neue",sans-serif;
      padding: 0; }
      .siteContent #contactpage section {
        height: 12em;
        width: 100%;
        margin: auto;
        margin-top: 0em;
        padding: 0em; }
      .siteContent #contactpage #map {
        margin-top: 0;
        height: auto; }
        .siteContent #contactpage #map #googlemap {
          display: none; }
        .siteContent #contactpage #map h1 {
          margin-top: 0em; }
        .siteContent #contactpage #map #mapdescription {
          margin-left: 0em; }
          .siteContent #contactpage #map #mapdescription h1 {
            margin-top: 0em;
            font: 600 2em "futura-pt", sans-serif; }

  .copy {
    display: none; }

  .white_content {
    display: none;
    text-align: left;
    position: absolute;
    top: 3%;
    left: 3%;
    width: 82%;
    height: 300px; }
    .white_content h2:last-child {
      color: #000; }

  #xbutton {
    display: none;
    width: 2em;
    height: 2em;
    position: absolute;
    top: 1.2%;
    left: 90%; } }
/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #fff; }

a:visited {
  color: #ccc; }

a:hover {
  color: #bc2431; }

a:active {
  color: #000; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }
