@charset "UTF-8";
/* CSS Document */
html, body, div, span, h1, h2, h3,
h4, h5, h6, p, a, abbr, acronym, del,
em, img, strong, dd, dl, dt, li, ol, ul,
fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height: 1;
	font-family: inherit;
	text-align: left;
	vertical-align: baseline;
}

a img, :link img, :visited img {
	border: 0;
}

ol, ul {
	list-style: none;
}

body {
	background: #fff;
	color: #aaa;
	font-size: 62.5%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
	min-height: 700px;
	text-rendering: optimizeLegibility;
}

div {
	font-size: 2em;
	letter-spacing: 0.02em;
	padding: 1em;
	text-shadow: #ddd 1px 1px 3px;
	text-transform: uppercase;
}

strong {
	color: #333;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	padding-bottom: 0.5em;
	z-index: 2;
}

h1 {
	margin-bottom: 1em;
	color: #888;
}

h1 a:hover:after {
	content: " (home)";
}

.nav {
	background-color: #bbb;
	position: fixed;
	top: 0;
	right: 0;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	padding: 0.1em 0 0.1em 0.5em;
}

li {
	display: inline;
	margin-right: 1em;
	position: relative;
	float: left;
	font-size: 0.6em;
	line-height: 1.5em;
}

a {
	color: #777;
	text-decoration: none;
	outline: none;
}

h1 a {
	color: #888;
}

.nav li a {
	font-size: 0.9em;
	color: #fff;
	text-shadow: none;
}

a:hover,
li.active {
	color: #333;
}

.nav li a:hover {
	text-shadow: 0 0 4px #fff;
}

li span {
	display: none;
}

li.active:hover {
	cursor: default;
}

li.active:hover span,
a:hover span {
	display: block;
	position: absolute;	
	top: 1.8em;
	left: 0;
	font-size: 0.8em;
	width: 20em;
}

.photo_wrap {
	z-index: 1;
	position: absolute;
	top: 3.6em;
}

#one .photo_wrap {
	width: 23900px;
}

#two .photo_wrap {
	width: 22800px;
}

#three .photo_wrap {
	width: 23000px;
}

#four .photo_wrap {
	width: 21800px;
}

#old .photo_wrap {
	width: 23100px;
}

.photo_wrap img {
	display: inline;
	height: 600px;
	margin-right: 0;
}

.text {
	top: 9em;
	text-transform: none;
	color: #777;
	width: 40em;
	font-size: 1.5em;
}

.text p,
.text ul {
	line-height: 1.3em;
	margin-bottom: 2em;
}

.text li {
	font-size: 1em;
	margin-bottom: 0;
	display: block;
	float: none;
}

.sub {
	position: fixed;
	top: 610px;
	right: 0;
	text-align: right;
}

.sub li {
	margin: 0 0 0 1em;
}

.footer {
	z-index: 2;
	font-size: 0.9em;
	position: fixed;
	bottom: 1em;
	right: 1em;
	color: #888;
	background-color: rgba(255,255,255,0.75);
	text-shadow: none;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.footer a {
	color: #000;
}

.fb-like {
	left: 150px;
	padding: 0.25em 0 0.75em;
}

img {
	-webkit-box-shadow: #aaa 1px 1px 2px;
}

